/* App Layout */
.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-body {
  flex: 1;
  display: flex;
  min-height: 0;
  overflow: hidden;
}

.main-content {
  flex: 1;
  background-color: #f2f2f2;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/* Footer */
.app-footer {
  flex-shrink: 0;
}
